# Model Names
OLLAMA_MODEL_NAME="llama3:latest"
OLLAMA_BASE_URL="http://localhost:11434"



# OpenAI API Key (Optional, for OpenAI models)
OPENAI_API_KEY="sk-your-openai-api-key"
OPENAI_MODEL_NAME="gpt-4o"

# Google Gemini API Key (Optional, for Gemini models)
GEMINI_API_KEY="AIza-your-gemini-api-key"
GEMINI_MODEL_NAME="gemini-2.0-flash"

# Unsplash API Key (Required for fetching and generating image links)
# You can get a free access key at https://unsplash.com/developers
UNSPLASH_API_KEY="your-unsplash-access-key"
